@model Questionnarie.Model.Entities.Task

@{
    ViewBag.Title = "Index";
}

<h2>Welcome,You have logged in!</h2>
<div class="text-right">
    @Html.ActionLink("LogOut", "Logout", controllerName: "Auth", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(x => x.To)
        @Html.TextBoxFor(x => x.To, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(x => x.From)

    <div class="form-group">
        @Html.LabelFor(x => x.When)
        @Html.TextBoxFor(x => x.When, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Subject)
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Summary)
        @Html.TextAreaFor(x => x.Summary, new { @class = "form-control" })
    </div>
    <input class="btn btn-primary" type="submit" value="Save"/>
}

